<footer>|

    <div class="col-3">
        <div class="row align-items-center">
            <div class="col-4">
                <a href="https://www.facebook.com/profile.php?id=100001269695167" target="_blank">
                    Moi
                </a>
            </div>
        </div>
    </div>

</footer>