<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="author" content="Carole THIL-BECKAERT" />
    <meta name="description" content="Mon site parle de préparation d'un mariage" />
    <meta name="keywords" content="html, css, tags, balises" />
    <meta name="viewport" content="width=device-width, user-scalable=yes" />
    <meta charset="utf-8">
    <meta name="robots" content="index, follow" />
    <link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shojumaru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <title>Alliance Devis Travaux</title>

</head>
<body>

<nav>
    <div class="top-container">
    </div>


    <header>
        <div>

            <h1>{{ title }}</h1>
            <img src="img/parquet.jpeg">
        </div>
    </header></nav>