header{
    <img src="https://encrypted-tbn0.gstatic.com /images?q=tbn:ANd9GcQrqdV_wI_QoRSqrgTOL7taFNyVoHoI5BvHwL91-yz5DBqMbf1c&s">

    background-repeat: no-repeat;
    background-color: #2F611C;
    background-size: cover;
    <img src="asset/img/logo.png" alt="logo" img="fluid">
}

body{
    background-color: lightblue;
}

img{

}
h1{
    text-color:white;
}
h2{
    text-color:white;
    text-align: center;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
aside{
    background-color: aquamarine;
    height: 500%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}
p{
    text-align: center;

}
footer{
    height: 20vh;
    background-color: #F5871F;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: space-evenly;
}
